body {
  background-image: url("images/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}



.box {
  background-color: #ffffff;
  border: 3px solid #5bb3ac;
  width: 800px;
  height: 200px;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  padding: 45px 20px
}

.box:first-of-type {
  justify-content: space-between;
}

.box:nth-of-type(2) {

}

.box_middle {
  margin-left: auto;
}

.block {
  background-color: #b2e0f6;
  border: 3px solid #5bb3ac;
  text-align: center;
  box-sizing: border-box;
  width: 150px;
}

.box_left, .box_right, .box_middle {
  height: 100px;
  padding: 35px 10px;
  margin-right: 5px;
}

.box_left {
  justify-content: flex-start;
}

.box_right {
  justify-content: flex-end;
}

.box_one {
  height: 50px;
  margin-top: 10px;
  margin-right: 5px
}

.box_two {
  height: 50px;
  margin-top: 65px;
  margin-right: -150px;
}

.box_three {
  height: 105px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 35px 10px;
}

.box_cone {
  height: 50px;
  margin-top: 10px;
}

.box_ctwo {
  height: 50px;
  margin-top: 65px;
}

.box_cthree {
  height: 105px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 35px 10px;
}