body {
  background-image: url("images/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}



.box {
  background-color: #ffffff;
  border: 3px solid #5bb3ac;
  width: 800px;
  height: 200px;
  margin: 10px auto;
  box-sizing: border-box;
}

.block {
  background-color: #b2e0f6;
  border: 3px solid #5bb3ac;
  text-align: center;
  box-sizing: border-box;
  width: 150px;
}

.box_left {
  float: left;
  margin: 30px 5px;
  height: 100px;
  padding: 35px 10px;
}

.box_right {
  height: 100px;
  float: right;
  margin: 30px 5px;
  padding: 35px 10px;
}

.box_one {
  float: right;
  height: 50px;
  margin-top: 10px;
  margin-right: 5px
}

.box_two {
  float: right;
  height: 50px;
  margin-top: 65px;
  margin-right: -150px;
}

.box_three {
  float: right;
  height: 105px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 35px 10px;
}

.box_cone {
  float: right;
  height: 50px;
  margin-top: 10px;
  margin-right: 244px
}

.box_ctwo {
  float: right;
  height: 50px;
  margin-top: 65px;
  margin-right: -150px;
}

.box_cthree {
  float: right;
  height: 105px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 35px 10px;
}