body {
  background-image: url("images/back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}



.box {
  background-color: #ffffff;
  border: 3px solid #5bb3ac;
  width: 800px;
  height: 200px;
  margin: 10px auto;
  box-sizing: border-box;
  display: flex;
  padding: 45px 20px
}

.box:first-of-type {
  justify-content: space-between;
}

.box_middle {
  margin-left: auto;
}

.block {
  background-color: #b2e0f6;
  border: 3px solid #5bb3ac;
  text-align: center;
  box-sizing: border-box;
  width: 150px;
}

.box_left, .box_right, .box_middle {
  height: 100px;
  padding: 35px 10px;
  margin-right: 5px;
}

.box:nth-of-type(4) {
  justify-content: flex-end;
  align-items: flex-start;
}

.box_one {
  height: 105px;
  margin-right: 5px;
}

.box_up, .box_down  {
  height: 50px;
}

.box_down {
  margin-top: 5px;
}

.box:nth-of-type(5) {
  justify-content: center;
  align-items: flex-start;
}